/*GERAL*/

:root{ /*declaração de variáveis no css, estamos aqui declarando na raiz do documento.*/
    --azul-fundo: #000127 ;
    --meio-cinza: #AAA ;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; /*os elementos respeitarão os limites de largura estabelecidos e não irão forçar um aumento em função do conteúdo*/
}

body{
    background-color: var(--azul-fundo); /*utilização da cor declarada como variável*/
    color: var(--meio-cinza);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*CABEÇALHO*/

header .container{
    /*todas as configurações se aplicam aos filhos de .container*/
        display: flex; /*indica como será a disposição dos elementos*/
        flex-direction: row; /*este é o padrão de flex*/
        align-items: center; /*alinhamento perpendicular à direção do flex*/
        justify-content: space-between; /*espaçamento ou alinhamento paralelos à direção do flex entre os elementos*/
    /**/
}

header .logo{
    font-family: 'Arial Black', Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 5px;
    color: white;
}

header nav a{
    color: var(--meio-cinza);
    text-decoration: none;
    margin-right: 10px ;
}

header nav a:hover{
    color: #FFF;
}

.container{
    padding-left: 20px;
}

/*CONTEÚDO PRINCIPAL*/

.info-principal{
    height: 500px;

    background: url('../img/fundo-principal.jpg');
    background-size: cover;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

    position: relative;
    top:0;
    left: 0;

}

.info-principal .titulo{
    font-size: 40px;
    margin-top: 20px;
}

.info-principal .descricao{
    font-size: 20px;
    margin-top: 20px;
}


.info-principal .container{
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: rgba(0, 75, 133, 0.8);
    width: 70%;
    margin-left: 20px;
}

.info-principal .botoes button{
    background-color: rgba(0, 1, 39,0.6);
    padding: 10px;
    margin: 20px 10px 20px 0;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.65s;
}

.info-principal .botoes button:hover{
    color: rgba(0, 1, 39);
    background-color: white;
}

.info-principal .botoes button i{
    margin-right: 8px;
}

.carousel-container{
    margin-top: 10px;
}

.box-item{
    width: 150px;
    height: 255px;
}